body{
    background-color:rgb(255, 218, 175);
}
h1{
    color: rgb(96, 138, 91);
    font-family: Verdana;
}
h2{
    color: rgb(42, 114, 34);
    font-family: Verdana;
}
p{
    color: blueviolet;
    font-family: sans-serif;
}
a{
    color:brown;
    font-family: Verdana;
}